BasedOnStyle: llvm
IndentWidth: 4
BreakBeforeBraces: Linux
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: false
AlignEscapedNewlines: Left
AllowShortCaseLabelsOnASingleLine: true